<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      {{>header}}
      <title>{{title}}</title>
  </head>
  <body>
      {{>nav}}
        <div  class="row">
          {{>leftNav}}
          <div id='main-container' class="container">
            <div class="col-sm-12">
                {{{body}}}
            </div>
          </div>
      </div>
  </body>
</html>
