<!DOCTYPE html>
<html>
  <head>
      {{>header}}
      <title>{{title}}</title>
  </head>
  <body>
      {{>nav}}
        <div  class="row">
          {{>leftNav}}
          <div id='main-container' class="container">
            <div class="col-md-offset-1 col-md-11">
                {{{body}}}
            </div>
          </div>
      </div>
  </body>
</html>
