<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" enctype="multipart/form-data" action="/parse">
	     <input type="file" name="image" style="">
    </form>
  </body>
</html>
