<!DOCTYPE html>
<html>
  <%- include partials/header.ejs %>
  <body>
    <form method="post" enctype="multipart/form-data" action="/parse">
       <input type="file" name="image" style="">
    </form>
  </body>
</html>
