#login-page {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url("/images/login-bg.jpg")
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-right{
  margin-top: 10px;
  margin-right: 5px;
}
.logo img {
  text-align:center;
  width:100%;
}
.brand {
  width: 200px;
}
.nav-logo {
  width: 200px;
}

.panel#login-panel {
  background-color: #efefef;
}

.btn-login,.btn-primary {
  background-color: #20c05c;
  border-color: #20c05c;
}

.btn-login:hover ,.btn-primary:hover {
  background-color: #1caa52;
  border-color: #1caa52;
}

#mobile-nav{
  position:absolute;
  background-color:#333;
  width:100%;
  height: 60px;
  margin-top: -10px;
}

#mobile-nav>.btn {
  padding: 15px;
  color: #929292;
}
#mobile-nav>.btn:hover {
  background-color: #eee;
}
#mobile-nav>.btn>a {
  height: 50px;
  width: 33%;
  color: #929292;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width:767px){
  #main-container{
    margin-top: 70px;
  }

}

#leftNav{
  position:fixed;
  background-color:#333;
  left:0;
  top: 50px;
  height:100%;
  width:90px;
}

.leftNav-btn {
  padding-left: 10px;
  height: 110px;
  width: 90px;
  color: #929292;

}

.leftNav-active {
  border-right: 4px solid #20c05c;
  color: #efefef;
}

.leftNav-btn i {
  padding-left: 10px;
  margin-top: 20px;
}

.leftNav-btn p {
  width: 70px;
}

.leftNav-btn a {
  color: #929292;
  text-decoration: none;
}

.leftNav-active a {
  color: #efefef;
}

.leftNav-btn:hover{
  background-color: #eee;
}

.add-trans {
  color: black;
}

.add-trans:hover {
  color: #929292;
}

.rh-receipt{
  color: #9d9d9d;
}

/* COLORS */
.rh-food{
  color: #20c05c;
}
.rh-appliances{
  color: red;
}

.rh-entertainment{
  color:purple;
}

.rh-electronics{
  color: orange;
}

#main-div {
  margin-left: 70px;
}

.fa-usd {
  margin-left: 10px;
}

body {
  margin-top:60px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  border: none;
}
.table{
  border: none;
}
