<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/header.ejs %>
  <body>
    <%- include ../partials/nav.ejs %>
    <div class="container">
      <form role="form" action="/transaction/add" name="transaction" method="post">
        <div class="form-group">
          <label>Date</label>
          <input type="text" class="form-control" placeholder="9/4/2014" name='date'>
        </div>
        <div class="form-group">
          <label>Merchant</label>
          <input type="text" class="form-control" placeholder="Walmart" name='merchant'>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input type="text" class="form-control" placeholder="99.99" name='price'>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default">Cancel</button>
      </form>
    </div>
  </body>
</html>
