<div class="todoAppContainer">
    <div class="row">
      <h2 class='col-lg-2'>Transactions</h2>
      <h2 class="col-lg-2">
        <a href="receipt/upload" class='btn btn-default'>add</a>
      </h2>
    </div>
    <!--React Div -->
    <div id="Transactions"></div>
</div>
<script type="text/jsx" src="../../javascripts/transactions.js"></script>
