<div class="todoAppContainer">
    <div class="row">
      <h2 class='col-xs-1'>Purchases</h2>
      <h2 class="col-xs-1 pull-right">
        <a href="transaction/add" class='pull-right add-trans'><i class="fa fa-plus"></i></a>
      </h2>
    </div>
    <!--React Div -->
    <div id="Transactions">
      <table class="table table-striped table-hover table-responsive ">
        <tr>
          <th colspan=2>
            Monday Nov 21, 2014
          </th>
          <th class='pull-right'>
            $79.99
          </th>
        </tr>
        <tr>
          <td>
            Balzacs
          </td>
          <td>
            <span class="rh-food">
              <i class="fa fa-tag"></i>
              <span class='hidden-xs'>Food</span>
            </span>
          </td>
          <td class='pull-right'>
            <a href="receipt/1"><i class="fa fa-file-text rh-receipt"></i></a>
            $4.60
          </td>
        </tr>
        <tr>
          <td>
            Futureshop
          </td>
          <td>
            <span class="rh-electronics">
              <i class="fa fa-tag"></i>
              <span class='hidden-xs'>Electronics</span>
            </span>
            <span class="rh-entertainment">
              <i class="fa fa-tag rh-entertainment"></i>
              <span class='hidden-xs'>Entertainment</span>
            </span>
            <span class="rh-appliances">
              <i class="fa fa-tag rh-appliances"></i>
              <span class='hidden-xs'>Appliances</span>
            </span>
          </td>
          <td class='pull-right'>
            <a href="receipt/-Jb9it8daO96qfmxzJY1"><i class="fa fa-file-text rh-receipt"></i></a>
            $24.60
          </td>
        </tr>
        <tr>
          <td>
            Best Buy
          </td>
          <td>
            <span class="rh-entertainment">
              <i class="fa fa-tag"></i>
              <span class='hidden-xs'>Entertainment</span>
            </span>
          </td>
          <td class='pull-right'>
            <a href="receipt/upload"><i class="fa fa-upload rh-receipt"></i></a>
            $9.85
          </td>
        </tr>
      </table>
    </div>
</div>
<!-- <script type="text/jsx" src="../../javascripts/transactions.js"></script> -->
