<div class="container">
  <form role="form" action="/transaction/add" name="transaction" method="post">
    <div class="form-group">
      <label>Date</label>
      <input type="text" class="form-control" placeholder="2014/1/30" name='date' required>
    </div>
    <div class="form-group">
      <label>Merchant</label>
      <input type="text" class="form-control" placeholder="Walmart" name='merchant' required>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" placeholder="99.99" name='price' required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href ="/transaction" type="button" class="btn btn-default">Cancel</a>
  </form>
</div>
