<div class="row">
  <div class="col-sm-6">
    <span><h3>Merchant:</h3>{{receipt.merchant}}</span>
    <div class="receiptInfo">
    <span><h3>Address:</h3>{{receipt.address}}</span>
    <h4>Tags</h4>
    <span class="rh-appliances">
      <i class="fa fa-plug"></i>
      <span class='hidden-xs'>Appliances</span>
    </span>
    </div>
  </div>
  <div class="col-sm-6">
    <img src="../uploads/{{id}}.jpg" class="img-responsive rotate90" alt="Responsive image" style='margin-top: 100px'/>
  </div>
</div>
